/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body{
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.checkbox__title{
  text-align: center;
  margin-bottom: 50px;
}

.checkbox__box{
  width: 237px;
  margin: 0 auto;
}

label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
  margin-right: auto;
}

.checkbox__select{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 20px;
}

.checkbox__input:checked ~ .checkbox__select--tennis{
  background-image: url("../icons/table-tennis.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox__input:checked ~ .checkbox__select--basketball{
  background-image: url("../icons/basketball-ball.png");
  background-size: contain;
}

.checkbox__label--voleyball{
  color: #ccc;
}

.checkbox__input:checked ~ .checkbox__select--voleyball{
  background-image: url("../icons/volleyball-ball.png");
  background-size: contain;
}

.checkbox__input:checked ~ .checkbox__select--xokkey{
  background-image: url("../icons/hockey-puck.png");
  background-size: contain;
}

.checkbox__label--hockey{
  color: #ccc;
}

.checkbox__select--xokkey:disabled{
  background-color: #ccc;
}

button{
  font-size: 20px;
  background-color: blue;
  padding: 10px 40px;
  border-radius: 10px;
}